@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Inventario</h1>
</div>
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://kmventasvirtuales.net/inicio/wp-content/uploads/2021/01/Envios.jpg" class="d-block w-100" style="height:575px; object-fit: contain;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Productos</h5>
                <p> Acceda fácilmente a toda la información detallada sobre los productos de su negocio en un solo lugar.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Productos</a></p>
            </div>
            <!-- OJO CAMBIAR LOS TITULOS DE ESTO Y SI ES NECESARIO AGREGAR MAS -->
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://pinturasdoal.com/wp-content/uploads/Featured-Como-hacer-correctamente-un-inventario.jpg" class="d-block w-100" style="height:575px; object-fit: contain;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>NO SE QUE VAYA AQUI :/</h5>
                <p>AQUI DEBERIA IR UNA EXPLICACION DE LO QUE ES</p>
                <p><a class="btn btn-lg btn-primary" href="#">Lo que sea que deba ir aqui</a></p>
            </div>
        </div>
        <!-- OJO CAMBIAR LOS TITULOS DE ESTO Y SI ES NECESARIO AGREGAR MAS -->

        <div class="carousel-item">
            <img src="https://cdn.prod.website-files.com/5cf800d1c316946e5da60fb9/650c9188f4ec4860906e35f1_62d89309e72bc885f2925f7e_REPORTES%20DE%20INVENTARIO%20IPOS%20NEWSLETTER-2.webp" class="d-block w-100" style="height:575px; object-fit: contain;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Tercer cosa</h5>
                <p>Nose cambien esto</p>
                <p><a class="btn btn-lg btn-primary" href="#">Cambiar</a></p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>