<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Inventar.io </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PV__DS_y_RH___Proyecto_Gestor_de_Inventario.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <!-- Logo y nombre de la app -->
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="~/images/logo.png" alt="Logo de la app" width="100" />
            <span class="fs-4 ms-1" style="color: whitesmoke;">Inventar.io</span> <!-- Agregué ms-2 para un pequeño espacio entre el logo y el nombre -->
        </a>

        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Producto</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Categoria</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pedido</a></li>
            <li class="nav-item"><a href="" class="nav-link" >Cliente</a></li>
        </ul>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - PV__DS_y_RH___Proyecto_Gestor_de_Inventario - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
